.DS_Store
.happypack
dist
package-lock.json
*.log
yarn.lock

node_modules
coverage
webpack/webpack-assets.json
.eslintrc
src/config/config.development.json
src/config/config.production.json
ssr/src/config/config.development.json
ssr/src/config/config.production.json
ssr

/build